@font-face {
    font-family: 'QuattrocentoSans-Regular';
    src: local('QuattrocentoSans-Regular'), url(../../fonts/QuattrocentoSans-Regular.ttf) format("truetype");
}

.background {
    color: #f7f7f7;
}
 ::placeholder {
    font-family: 'QuattrocentoSans-Regular';
     color: black;
     opacity: 0.4;
     
 }