@font-face {
    font-family: 'QuattrocentoSans-Regular';
    src: local('QuattrocentoSans-Regular'), url(../../fonts/QuattrocentoSans-Regular.ttf) format("truetype");
}

.filter-item {
    border-style: none;
    background-color: #f7f7f7;
    color: black;
    font-family: 'QuattrocentoSans-Regular';
}